<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    {% if country == "Us" %}
    <h1>Korea's story</h1>
    {% endif %}
    {% if country == "Ko" %}
    <h1>실시간 검색어</h1>
    {% endif %}
    <table class="table">
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if country == "Us" %}
        <p>You can change Korean's story for new one to use F5</p>
    {% endif %}

    {% if country == "Ko" %}
        <p>F5를 이용해서 새로운 검색어로 바꿀수 있습니다.</p>
    {% endif %}

    <button type="button" class="btn btn-success"
            {% if country == "Us" %}
            disabled="disabled"
            {% endif %}
        >Success</button>


</body>
</html>